.footer{
    position: relative;
    display: flex;
    height: 150px;
    padding: 20px;

}

.footer img{
    height: 70px;
    width: 50px;
    
}

#infoFooter{
    padding: 0 10rem;
    color:rgb(0, 49, 49);
    display: flex;
    flex-direction: column;
}

#infoFooter h3{
    line-height: 0;
}

.form #insertMsg textarea{
    height: 200px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: rgb(235, 245, 255);
    padding: 20px;
}