.infoAbout{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    max-width: 100%;
    top: -10px;
    left: 0;
    box-sizing: border-box;/* 
    background-color: coral; */
   
}

.infoAbout div:not(:last-child){
    margin-right: 2em;
}

.infoAbout div{    
    flex: 1;
    background-color: rgb(23, 35, 45);
    min-height: 220px;
    max-width: 100%;
    padding: 1em;
    border-radius: 5px;
    border: 1px solid white;
    box-sizing: border-box;
    
}

.infoAbout h3{
    color: rgb(143, 155, 179);
}

@media only screen and (max-width:600px) {
    .infoAbout{
        flex-direction: column;
       
    }
    .infoAbout div:not(:last-child){
        margin: 0;
    }
}