.services{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    width: calc( 100vw - 150px);
    margin-top: 100px;
    left: 65px;
    border-radius: 10px;
    align-items: center;
    padding: 0 0 10rem 0px ;
    background-color: aliceblue;
   
}
.services .containerServices{
    display: flex;
    flex-direction: column;    
    width: 100%;
    /* background-color: blueviolet; */
    align-items: center;
    
}

#title{
    flex-direction: column;
    color: grey;
}

#title h2{
    text-align: center;
    color: grey;
}

.optServices {
    display: flex;
    flex-direction: column;
   /*  background-color: coral; */
    max-width: 100%;
    padding: 1.5em 1em;
    justify-content: center;
    align-items: center;
    
}

.optServices h3{
    color:rgb(23, 23, 38);
}


.infoImg,
.infoServices{
    flex: 1;
    padding: 0 2em;   
    transition: 0.2s;
    max-width: 100%;
    min-width: 150px;
    height: auto;
}

.infoImg img{
    max-width: 100%;
    height: auto;
}

.infoServices:hover{
    transform: scale(1.1);
    background-color: white;
}

.itemServices {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    box-shadow: 8px 5px 10px rgba(128, 128, 128, 0.296);
    min-height: 250px;
    max-width: 100%;
    margin: 10px;
    box-sizing: border-box;
    color: rgb(32, 34, 46);
    font-size: 10pt;
    z-index: 1;
}

.itemServices h3{
    font-size:11pt;
    color: rgb(77, 77, 77);
}

.itemsSeg{
    display:flex;
    flex-wrap: wrap;
}
#cab{
    line-height: 1;
}
@media only screen and (max-width:600px){
    .services{
        width: 90%;
        left: 5%;
    }
}
