.slide-show {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    left: 0;
    top:0px;
    justify-content: center;
    z-index: -1;
}

.slide-show img{
    height: auto;
    width: 100%;
}